.robot-container {
    
}

.robot-face-shape {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
}

.robot-eye-left {
    background-
}

.robot-eye-right {
}

.robot-ear-left {
}

.robot-ear-right {
}

.robot-nose {
}

.robot-teeth {
}

.robot-tooth {
}

.robot-hair-style {
}

.robot-hair-one {
}

.robot-hair-two {
}

.robot-hair-three {
}
